* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    display: grid;
    grid-template-areas: 
     "header  header  header"
     "main    main    main"
     "footer  footer  footer";
     grid-template-columns: repeat(3, 1fr);
}

.container {
    width: 1200px;
    margin: auto;
}


header {
    grid-area: header;
}

.header {
    background-color: rgba(42, 44, 59, 1);
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__content ul {
    display: flex;
    justify-content: space-around;
}

.navbar__content ul li {
    margin: 0 20px;
}

.navbar__content ul li a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: rgba(243, 244, 238, 1);
    font-size: 14px;
}

.navbar__content ul li a:hover {
    border-bottom: solid 2px rgba(231, 66, 60, 1);
    padding-bottom: 10px;
}

main {
    grid-area: main;
}

.banner {
    display: flex;
    flex-flow: column row;
    align-items: center;
}

.banner__content {
    display: flex;
    flex-flow: column wrap;
    align-self: center;
    padding-right: 40px;
}

.banner__content h1 {
    color: rgba(231, 66, 60, 1);
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}

.banner__content h2 {
    color: rgb(42, 44, 59);
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 50px;
    line-height: 40px;
}

.banner__content p {
    font-size: 16px;
    margin-bottom: 30px;
    letter-spacing: 1.5px;
    line-height: 30px;
}

.banner__content--boton a {
    color: white;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    border-radius: 5px;
    background-color: rgba(231, 66, 60, 1);
    border: solid 2px rgba(231, 66, 60, 1);
    padding: 10px 30px;
    transition: background-color 0.3s;
}

.banner__content--boton a:hover {
    color: rgba(42, 44, 59, 1);
    background-color: white;
    border: solid 2px rgba(42, 44, 59, 1);
}

.servicios {
    margin-top: 80px;
}

.servicios__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
}

.main--title {
    background-image: linear-gradient(45deg, #2a2c3b, #2a3168);
    border-radius: 10px 0 10px;
    margin-top: 60px;
    padding: 20px;
    width: 400px;
}

.main--title p {
    font-size: 14px;
    letter-spacing: 8px;
    color: white;
    text-align: right;
    text-transform: uppercase;
}

.servicios__content article {
    margin: 10px;
    padding: 30px;
    transition: transform 0.6s;
}

.servicios__content article:hover {
    transform: translateY(-15px);
    background-color: rgba(42, 44, 59, 0.1);
    border-radius: 10px 0 10px;
    padding: 30px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.3);
}

.servicios__content article img {
    text-align: left;
    margin-bottom: 20px;
}

.servicios__content article h1 {
    color: rgba(231, 66, 60, 1);
    text-align: left;
    font-size: 30px;
    margin-bottom: 40px;
}

.servicios__fotos--img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 60px;
}

.servicios__content article h1.staff {
    color: rgba(231, 66, 60, 1);
    text-align: left;
    font-size: 30px;
    margin-bottom: 10px;
}

.servicios__content article p {
    font-size: 14px;
    text-align: left;
    line-height: 24px;
    margin-bottom: 40px;
}

.servicios__content article p.staff--parrafo {
    font-size: 16px;
    font-style: italic;
    text-align: left;
    line-height: 24px;
    margin-bottom: 40px;
}

.servicios__content article a {
    color: white;
    font-size: 14px;
    text-align: center;
    border-radius: 7px;
    font-weight: 400;
    background-color: rgba(42, 44, 59, 1);
    border: solid 2px rgba(42, 44, 59, 1);
    padding: 10px;
    transition: background-color 0.3s;
}

.servicios__content a:hover {
    color: rgba(231, 66, 60, 1);
    background-color: white;
    border: solid 2px rgba(231, 66, 60, 1);
}

footer {
    grid-area: footer;
    background-color: rgba(231, 66, 60, 1);
}

.footer {
    display: flex;
    flex-flow: column wrap;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.footer__content ul {
    display: flex;
    justify-content: space-around;
}

.footer__content ul li {
    margin: 20px;
}

.footer__content ul li a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: rgba(243, 244, 238, 1);
    font-size: 14px;
}

.footer__content ul li a:hover {
    border-bottom: solid 2px white;
    padding-bottom: 10px;
}

form {
    margin: 0 auto;
}

.formulario {
    margin: 0 auto;
    padding: 20px;
    color: rgba(231, 66, 60, 1);
}

label {
    font-size: 18px;
    display: flex;
    margin-bottom: 10px;
}

select {
    margin-bottom: 20px;
    border: 0;
    background-color: rgb(42, 44, 59);
    color: white;
    padding: 10px;
    width: 100px;
    height: 40px;
}

input {
    border: 0;
    background-color: rgb(226, 226, 226);
    height: 40px;
    width: 400px;
    padding: 10px;
    margin-bottom: 30px;
}

textarea {
    display: flex;
    height: 200px;
    width: 400px;
    padding: 10px;
    margin-bottom: 30px;
    background-color: rgb(226, 226, 226);
    border: 0;
}

button {
    width: 150px;
    height: 50px;
    font-size: 15px;
    background-color: rgba(231, 66, 60, 1);
    color: white;
    border: 0;
    border-radius: 10px;
}


/* Media Query */

@media (max-width: 1200px) {
    .container {
        width: 900px;
    }
    .header__content {
        display: flex;
        flex-flow: column wrap;
    }
    .navbar__content {
        margin: 10px 0 10px 0;
    }
    .banner__content h1 {
        font-size: 40px;
        margin: 20px 0 20px 0;
    }
    
    .banner__content h2 {
        font-size: 20px;
        margin-bottom: 30px;
        line-height: 30px;
    }
    
    .banner__content p {
        font-size: 16px;
        margin-bottom: 40px;
        letter-spacing: 1px;
        line-height: 25px;
    }

    .banner__content--img img {
        width: 400px;
    }

    .servicios__content article h1 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .servicios__fotos--img article {
        padding: 10px;
    }
    .servicios__fotos--img {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .servicios__content article h1.staff {
        font-size: 15px;
        margin-bottom: 5px;
    }
    
    .servicios__content article p {
        font-size: 13px;
        line-height: 24px;
        margin-bottom: 40px;
    }
    
    .servicios__content article p.staff--parrafo {
        font-size: 14px;
        text-align: left;
        line-height: 18px;
        margin-bottom: 30px;
    }

    
}

@media (max-width: 900px) {
    .container {
        width: 700px;
    }
    .navbar__content ul li {
        margin: 10px 10px;
    }
    .banner__content h1 {
        font-size: 30px;
        margin: 30px 0 20px 0;
    }
    
    .banner__content h2 {
        font-size: 18px;
        margin-bottom: 20px;
        line-height: 25px;
    }
    
    .banner__content p {
        font-size: 14px;
        margin-bottom: 30px;
        letter-spacing: 1px;
        line-height: 20px;
    }
    .banner__content--img img {
        width: 400px;
    }

    .servicios__content article {
        margin: 20px;
    }

    .servicios__content {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 30px;
        text-align: center;
    }
    .servicios__fotos--img article {
        padding: 10px;
    }
    .servicios__fotos--img {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .servicios__content article h1.staff {
        text-align: center;
        margin-bottom: 5px;
    }
    .servicios__content article p.staff--parrafo {
        text-align: center;
        margin-bottom: 10px;
    }

    .footer__content {
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .nosotros {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
}

@media (max-width: 580px) {
    .container {
        width: 400px;
    }

    .header__content {
        display: flex;
        flex-flow: column wrap;
    }
    .banner {
        display: grid;
        grid-template-columns: 1fr;
    }
    .banner__content--img img {
        margin-top: 20px;
    }

    .servicios__fotos--img {
        display: grid;
        grid-template-columns: 1fr;
    }

    .main--title {
        background-color: rgba(42, 44, 59, 1);
        margin-top: 40px;
        padding: 10px;
        width: 300px;
    }
    .footer {
        flex-flow: column nowrap;
    }
    .footer__content{
        display: flex;
        flex-direction: column;
    }
    .navbar__footer {
        display: flex;
        
    }
}
