.main--title {
    color: white;
    font-size: 20px;
    background-color: rgb(17, 31, 226);
    border-radius: 10px 0 10px;
    width: 400px;
}


.effect {

    border-radius: 10px 0 10px;
    transition: background-color 0.3s;
}

.effect:hover {
    background-color: rgba(42, 44, 59, 0.1);
}